html{
    min-width: 950px;
}

#searchHTML{
    min-width: 950px;
    height: 100%;
}

#productViewHTML{
    min-width: 950px;
}

#homeBody{
    padding: 0;
    margin: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

/*****************
Small edit for checkout
******************/

#homeBodyCheckout{
    padding: 0;
    margin: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
	height: 1050px;
}

/******************
Edit Finished
*******************/

#homeBodyMain{
    padding: 0;
    margin: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
    background-image: url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#searchBody{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

.error {color: #FF0000;}

#searchMain{
    height: 100%;
}

#homeNav{
    padding-left: 15px;
    padding-bottom: -10px;
    background-image: linear-gradient(white -100%, rgb(224, 159, 38) 200%);
    border-bottom: 2px solid rgb(243, 185, 59);
    height: 43px;
}

#searchNav{
    position: fixed;
    width: 100%;
    padding-left: 15px;
    padding-bottom: -10px;
    background-image: linear-gradient(white -100%, rgb(224, 159, 38) 200%);
    border-bottom: 2px solid rgb(243, 185, 59);
    height: 43px;
    min-width: 800px;
}

#logo{
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    width: 116.216px;
}

#searchForm{
    display: inline-block;
    width: 70%;
}

#searchBar{
    vertical-align: middle;
    margin-left: 10px;
    height: 30px;
    vertical-align: middle;
    width: 60%;
    border-radius: 10px;
    border: 1px solid grey;
    border-right: none;
    padding-left: 8px;
}
  
#searchBar:focus{
    outline: none;
}

#searchButton{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: middle;
    margin-left: -15px;
    height: 30px;
    width: 50px;
    border-left: none;
    border: 1px solid grey;
    background-color: rgb(255, 171, 14);
}

#menuButton{
    vertical-align: middle;
    font-size:30px;
    cursor:pointer
}

#accountBox{
    margin-left: -20%;
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    min-width: 15%;
}

#accountIcon{
    height: 25px;
    width: 25px;
    margin-right: 2px;
    vertical-align: bottom;
}

#accountLink{
    vertical-align: bottom;
    margin-left: px;
    text-decoration: none;
    color: black;
}

#cartBox{
    width: 15%;
    margin-left: -3%;
    display: inline-block;
    vertical-align: middle;
    min-width: 15%;
}

#cartIcon{
    height: 25px;
    width: 25px;
    margin-right: 2px;
    vertical-align: bottom;
}

#cartLink{
    vertical-align: bottom;
    margin-left: 5px;
    text-decoration: none;
    color: black;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(white -100%, rgb(224, 159, 38) 200%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover{
    color: orange;
}
  
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#homeFooter{    
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(white -200%, rgb(224, 159, 38) 200%);
}

#homeFooter p{
    text-align: center;
    font-size: 13px;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
    
body { 
    margin: 0; 
} 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slidy infinite; 
}
    
#slider{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 150px;
    border: 2px solid orange;
    margin-top: 20px;
}

#welcome{
    color: rgb(255, 94, 0);
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
}

#welcome2{
    color: rgb(255, 153, 0);
    text-align: center;
    font-size: 20px;
    margin-top: -29px;
}

#container{
    margin-top: 3%;
    text-align: center;
}

#savings{
    display: inline-block;
    width: 20%;
    height: 35%;
    max-height: 275px;
    max-width: 250px;
    text-align: center;
    background-image: linear-gradient(white -100%, #ffce6c 200%);
    border-radius: 10px;
    border: 2px solid black;
    margin-right: 10px;
}

#shopOnline{
    max-height: 275px;
    max-width: 250px;
    display: inline-block;
    border: 2px solid black;
    width: 20%;
    height: 35%;
    text-align: center;
    background-image: linear-gradient(white -100%, #ffce6c 200%);
    border-radius: 10px;
    margin-right: 10px;
}

.tag{
    margin-top: 10px;
    border-radius: 50%;
    height: 80px;
    weight: 80px;
    text-decoration: none;
    border: 2px solid black;
    background-position: center;
    max-width: 80px;
    max-height: 80px;
}

.tag2{
    margin-top: 1px;
    font-weight: bold;
}

.homeLink{
    color: black;
}

#sideBar{
    display: inline-block;
    text-align: center;
    margin-top: 0px;
    min-height: 100%;
    width: 19%;
    background-image: linear-gradient(white -100%, rgb(255, 166, 0) 200%);
    border-right: 2px solid black;
}

#filter{
    padding-top: 45px;
    text-decoration: underline;
    margin-bottom: -5px;
}

#filterList{
    list-style-type: none;
}

#filterList li{
    text-align: left;
    margin-left: -30px;
    margin-bottom: 5px;
    font-size: 14px;
}

#resultsCount{
    margin-top: 39px;
    margin-bottom: 5px;
    font-size: 23px;
}

#results {
    display: inline-block;
    float: right;
    width: 75%;
    min-height: 82%;
    margin-right: 23px;
    margin-top: 15px;
}

.item{
    background-color: white;
    height: 250px;
    width: 184px;
    border: 5px solid rgb(231, 230, 230);
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.itemPic{
    margin-top: 12px;
    height: 100px;
    width: 100px;
}

.itemPrice{
    font-weight: bold;
}

.itemDescription{
    margin-top: -9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.addToCart{
    text-decoration: none;
    margin-top: -4px;
    border: 1px solid grey;
    font-weight: bold;
    width: 130px;
    height: 30px;
    background: #ffab00;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 24px; 
    padding: 5px 12px 5px 12px;
}

.addToCart:hover{
    background: #ff7b00;
    cursor:pointer;
}

#searchFooter{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(white -200%, rgb(224, 159, 38) 200%);
}

#searchFooter p{
    text-align: center;
    font-size: 13px;
}

.filterCategory{
    margin-left: 10px;
    margin-bottom: -12px;
    font-weight: bold;
    text-align: left;
}

#refresh{
    margin-top: 30px;
    margin-left: 50px;
    height: 35px;
    width: 35px;
}

#productView{
    background-color: whitesmoke;
    display: inline-block;
    float: right;
    width: 75%;
    min-height: 60%;
    margin-right: 33px;
    margin-top: 120px;
    border: 2px solid black;
    vertical-align: middle;
}

#productViewLeft{
    vertical-align: middle;
    display: inline-block;
    width: 48%;
    height: 60%;
    text-align: center;
}

#productViewRight{
    display: inline-block;
    width: 50%;
    height: 60%;
    float: right;
    text-align: center;
    margin-right: 13px;
    background-color: whitesmoke;
}

#productViewPic{
    border: 1px solid gray;
    width: 295px;
    height: 250px;
    margin-top: 15px;
}

#productName{
    text-align: left;
    font-size: 40px;
    margin-left: 15px;
    margin-top: 10px;
}

#itemCode{
    text-align: left;
    margin-left: 15px;
    margin-top: -36px;
}

#rating{
    text-align: left;
    margin-left: 15px;
    margin-top: -10px;
}

#starsRating{
    vertical-align: top;
    height: 20px;
    width: 100px;
}

#purchaseOptions{
    margin-top: -12px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 5%;
    margin-left: 5%;
}

.purchaseOption{
    padding-top: 10px;
    text-align: left;
    height: 32px;
    border-top: 1px solid grey;
}

#topPurchaseOption:hover{
    cursor: pointer;
    background-color: rgb(212, 211, 211);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#bottomPurchaseOption:hover{
    cursor: pointer;
    background-color: rgb(212, 211, 211);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.purchaseOption:hover{
    cursor: pointer;
    background-color: rgb(212, 211, 211);
}

#topPurchaseOption{
    border-top: none;
}

.purchaseOption input{
    margin-left: 10px;
    margin-right: 8px;
}

#purchasePrice1, #purchasePrice2, #purchasePrice3{
    float: right;
    font-weight: bold;
    margin-right: 10px;
}

#addToCartSubmit{ 
    text-decoration: none;
    margin-top: 24px;
    border: 1px solid grey;
    font-weight: bold;
    width: 250px;
    height: 40px;
    background: #ffab00;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 24px; 
}

#addToCartSubmit:hover{
    background: #ff7b00;
    cursor:pointer;
}

#quantity{
    text-align: center;
    margin-top: 16px;
    width: 10%;
}

#smallerPics{
    margin-left: 11px;
}

.smallProductViewPic{
    margin-top: 30px;
    margin-right: 10px;
    border: 1px solid gray;
    width: 70px;
    height: 70px;
    display: inline-block;
}
  
#back{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 65px;
    margin-left: 3%;
}

#welcomeBox{
    background-color: #ff7b00;
    width: 30%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#itemCount{
    position: absolute;
    font-size: 13px;
    margin-left: 5px;
    margin-top: 0px;
    display: inline-block;
    color: black;
    font-weight: bold;
}

#accountContainer{
    background-color: whitesmoke;
    border: 2px solid black;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
    border-radius: 10px;
}

#accountPageIcon{
    width: 125px;
    height: 125px;
    margin-bottom: -5px;
}

#signoutButton{
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    margin-bottom: 5px;
    margin-top: -10px;
}

#signoutButton:hover{
    cursor: pointer;
    background-color: rgb(189, 186, 186);
}

#accountUsername{
    margin-bottom: -5px;
}

#container_signin{
    background-color: whitesmoke;
    border: 2px solid black;
    width: 25%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2.5%;
    border-radius: 10px;
}

#signinImg{
    margin-top: 20px;
    width: 140px;
    height: 50px;
}

#signinSubtitle{
    margin-top: 4px;
    color: rgb(58, 58, 58);
}

.signinField{
    width: 60%;
    height: 30px;
    margin-bottom: 20px;
}

#signinButton{
    text-decoration: none;
    margin-top: 12px;
    border: 1px solid grey;
    font-weight: bold;
    width: 130px;
    height: 30px;
    background: #ffab00;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 24px; 
    padding: 5px 12px 5px 12px;
    margin-bottom: 30px;
}

#signinButton:hover{
    background: #ff7b00;
    cursor:pointer;
}

#registrationList{
    list-style: none;
}

#rightRegisterList {
    list-style: none;
}

#container_register{
    background-color: whitesmoke;
    border: 2px solid black;
    width: 45%;
    height: 77%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2.5%;
    border-radius: 10px;
}

#registerImg{
    margin-top: 15px;
    margin-bottom: -5px;
    width: 140px;
    height: 50px;
}

#leftRegister{
    margin-top: -25px;
    display: inline-block;
    width: 45%;
    height: 70%;
}

#rightRegister{
    margin-top: -25px;
    display: inline-block;
    width: 45%;
    height: 70%;
    vertical-align: top;
    float: right;
    margin-right: 30px;
}

#leftRegister input{
    margin-bottom: 15.5px;
}

#rightRegister input {
    height: 25px;
    margin-bottom: 13px;
    
}

#registerSubmit{
    text-decoration: none;
    margin-top: -3px;
    border: 1px solid grey;
    font-weight: bold;
    width: 130px;
    height: 30px;
    background: #ffab00;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 24px; 
    padding: 5px 12px 5px 12px;
}

#registerSubmit:hover{
    background: #ff7b00;
    cursor:pointer;
}

#sameAddressLabel{
    vertical-align: top;
}

#sameAddressBox{
    margin-top: -2px;
}

#cartContainer{
    margin-top: -16px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#cartLeft{
    width: 70%;
    height: 100%;
    display: inline-block;
    padding-left: 15px;
}

#cartRight{
    border-left: 2px solid black;
    background-color: whitesmoke;
    width: 28.65%;
    height: 100%;
    display: inline-block;
    float: right;
    text-align: center;
}

#shoppingCartTitle{
    text-align: left;
    font-size: 35px;
    margin-left: 15px;
    margin-top: 13px;
    margin-bottom: 10px;
}

.cartItem{
    background-color: white;
    height: 190px;
    width: 184px;
    border: 5px solid rgb(231, 230, 230);
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.cartItemPic{
    margin-top: 12px;
    height: 75px;
    width: 75px;
}

#cartList{
    list-style: none;
    text-align: left;
    margin-left: 5px;
}

.subtotalPrice{
    float: right;
    margin-right: 40px;
}

#subtotalNum{
    margin-bottom: 40px;
}

#checkoutButton{
    text-decoration: none;
    border: 1px solid grey;
    font-weight: bold;
    background: #ffab00;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 24px; 
    padding: 8px 12px 8px 12px;
    padding-left: 60px;
    padding-right: 60px;
}

#checkoutButton:hover{
    background: #ff7b00;
    cursor:pointer;
}

#removeItem{
    border-radius: 100%;
    text-align: center;
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 40px;
    background-color: orangered;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 2px solid rgb(216, 216, 216);
    margin-left: 153px;
    margin-top: 1px;
    outline: none;
}

#removeItem:hover{
    cursor: pointer;
}

#removeItemInner{
    margin-left: auto;
    margin-right: auto;
    margin-top: -14px;
    margin-left: -.08px;
}

#cartIsEmpty{
    margin-top: 175px;
    text-align: center;
}

#lock{
    margin-right: 29px;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-left: -20px;
    margin-right: 9px;
}

#checkoutTitle{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#checkoutContainer{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 2px solid black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    
}

#checkoutInfo{
    text-align: center;
    font-size: 15px;
    display: inline-block;
    margin-right: 50px;
}

.checkoutSubtitle{
    margin-bottom: 3px;
}

#checkoutOrder{
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

.checkoutLeft{
    float: left;
    padding-left: 20px;
}

.checkoutRight{
    float: right;
    padding-right: 20px;
}

#orderTotal{
    margin-top: 0px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(156, 1, 1);
}

#orderButton{
    text-decoration: none;
    margin-top: -8px;
    border: 1px solid grey;
    font-weight: bold;
    width: 220px;
    height: 30px;
    background: #ffab00;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 24px; 
    padding: 5px 12px 5px 12px;
    margin-bottom: 10px;
}

#orderButton:hover{
    background: #ff7b00;
    cursor:pointer;
}

#orderInfo{
    border: 2px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 10%;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

button{
    outline: none;
}

/***************************
	NEW STYLING
****************************/

#cartMain{
	margin: auto;
	background-color: whitesmoke;
	width: 650px;
	padding-bottom: 5%;
	border: 3px solid black;
	height: auto;
	border-radius: 10px;
}

#cartFooter{
	margin-top: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(white -200%, rgb(224, 159, 38) 200%);
}

#cartFooter p{
    text-align: center;
    font-size: 13px;
}

#itemList {
	margin: auto;
	width: 100%;
	margin-left: 10%;
	padding-top:15px;
}

#itemTable {
	border: 1px solid Black;
	border-collapse: collapse;
	padding-top: 15px;
}

#itemQuant {
	padding-right: 15px;
}

#itemTable th {
	border: 1px dashed Black;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}

#itemTable td {
	border: 1px dashed Black;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#itemTotals {
	margin: auto;
	width: 95%;
	margin-left: 100px;
}

#checkoutButtonFormatting {
	margin-bottom: 30px;
	margin-left: 310px;
}

#newCheckoutButton{
    text-decoration: none;
    border: 2px solid Black;
    font-weight: bold;
    background: #ffab00;
    font-size: 15px;
    line-height: 18px;
	letter-spacing: 1px;
    color: solid Black;
    text-transform: uppercase;
    border-radius: 12px; 
    padding: 8px 12px 8px 12px;
    padding-left: 60px;
    padding-right: 60px;
}

#newCheckoutButton:hover{
    background-image: repeating-linear-gradient(to bottom right, #ffcc66, #ffffff);
}

#shopCartIcon{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-left: -20px;
    margin-right: 9px;
}

#backToShoppingButton{
    text-decoration: none;
    border: 2px solid Black;
    font-weight: bold;
    background: #ffab00;
    font-size: 15px;
    line-height: 18px;
	letter-spacing: 1px;
    color: solid Black;
    text-transform: uppercase;
    border-radius: 12px; 
    padding: 8px 12px 8px 12px;
    padding-left: 60px;
    padding-right: 64px;
}

#backToShoppingButton:hover{
    background-image: repeating-linear-gradient(to bottom right, #ffcc66, #ffffff);
}

#rtsButtonFormatting {
	margin-left: 310px;
	margin-bottom: 30px;
}

#returnToShopIcon{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-left: -20px;
    margin-right: 9px;
}

#editAccountFormatting {
	margin-left: 310px;
}

#editAccountButton{
    text-decoration: none;
    border: 2px solid Black;
    font-weight: bold;
    background: #ffab00;
    font-size: 15px;
    line-height: 18px;
	letter-spacing: 1px;
    color: solid Black;
    text-transform: uppercase;
    border-radius: 12px; 
    padding: 8px 12px 8px 12px;
    padding-left: 84px;
    padding-right: 84px;
}

#editAccountButton:hover{
    background-image: repeating-linear-gradient(to bottom right, #ffcc66, #ffffff);
}

#backToAccountIcon{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-left: -20px;
    margin-right: 9px;
}

.cartPic {
	height: 50px;
}

.right {
	text-align: right;
}

#checkoutMain{
	margin: auto;
	background-color: whitesmoke;
	width: 90%;
	padding-bottom: 3%;
	border: 3px solid black;
}

#shippingInfo{
	float: left;
	margin-top: 25px;
	margin-right: 10%px;
	margin-left: 2%;
	margin-bottom: 50px;
	padding: 10px 10px 10px;
	padding-bottom: -20px;
	background-color: whitesmoke;
    border: 2px solid black;
	border-radius: 10px;
}

#shippingInfo label {
	float: left;
	width: 10em;
	text-align: right;
}

#shippingInfo input {
	width: 15em;
	margin-left: 1em;
	margin-bottom: 0.5em;
}

#billingInfo{
	float: right;
	margin-top: 25px;
	margin-right: 2%;
	padding: 10px 10px 17px 10px;
	background-color: whitesmoke;
    border: 2px solid black;
	border-radius: 10px;
}

#billingInfo label {
	float: left;
	width: 10em;
	text-align: right;
}

#billingInfo input {
	width: 15em;
	margin-left: 1em;
	margin-bottom: 0.5em;
}

#diffShip {
	margin-right: -4em;
}

#orderSummary {
	clear: both;
	background-color: whitesmoke;
	border: 2px solid Black;
	width: 40%;
	text-align: center;
	margin-left: 30%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30%;
	border-radius: 10px;
}

#orderSummary label {
	float: left;
	width: 45%;
	text-align: right;
}

#orderSummary input {
	width: 50%;
	margin-left: 1em;
	margin-bottom: 0.5em;
}

#orderSummary input.code{
	width: 5em;
}

#orderSummary{
	clear: both;
}

#finalCheckoutButton{
    text-decoration: none;
    border: 2px solid Black;
    font-weight: bold;
    background: #ffcc66;
    font-size: 15px;
    line-height: 18px;
	letter-spacing: 1px;
    color: solid Black;
    text-transform: uppercase;
    border-radius: 12px; 
    padding: 8px 12px 8px 12px;
    padding-left: 60px;
    padding-right: 60px;
}

#finalCheckoutButton:hover{
    background-image: repeating-linear-gradient(to bottom right, #ffcc66, #ffffff);
}

#contactMain {
	width: 80%;
	margin: auto;
	height: 1100px;
}

#erikPicture {
	margin-right: 35px;
	height: 100px;
	float: right;
}

#nickPicture {
	margin-left: 35px;
	height: 100px;
	float: left;
}

#danielPicture {
	margin-left: 35px;
	height: 100px;
	float: left;
}

#nickInfo {
	padding-top: 35px;
	padding-bottom: 50px;
	margin-bottom: 50px;
	background-color: whitesmoke;
	border: 2px solid black;
	border-radius: 10px;
}

#nickName {
	margin-left: 150px;
}

#nickEmail {
	margin-left: 150px;
}

#erikInfo {
	padding-top: 35px;
	padding-bottom: 50px;
	margin-bottom: 50px;
	background-color: whitesmoke;
	border: 2px solid black;
	border-radius: 10px;
}

#erikName {
	text-align: right;
	margin-right: 150px;
}

#erikEmail {
	text-align: right;
	margin-right: 150px;
}

#davidInfo {
	padding-top: 35px;
	padding-bottom: 50px;
	margin-bottom: 50px;
	background-color: whitesmoke;
	border: 2px solid black;
	border-radius: 10px;
}

#danielName {
	margin-left: 150px;
}

#danielEmail {
	margin-left: 150px;
}

#bigN {
	margin-top: -50px;
	margin-bottom: -10px;
	font-size: 300%;
	font-family: Impact, Charcoal, sans-serif;
}

#bigE {
	margin-top: -50px;
	margin-bottom: -10px;
	font-size: 300%;
	font-family: Impact, Charcoal, sans-serif;
}

#bigD {
	margin-top: -50px;
	margin-bottom: -10px;
	font-size: 300%;
	font-family: Impact, Charcoal, sans-serif;
}