html{
    min-width: 950px;
}

#searchHTML{
    min-width: 950px;
    height: 100%;
}

#productViewHTML{
    min-width: 950px;
}

#homeBody{
    padding: 0;
    margin: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

#homeBodyMain{
    padding: 0;
    margin: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
    background-image: url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#searchBody{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

#searchMain{
    height: 100%;
}

#homeNav{
    padding-left: 15px;
    padding-bottom: -10px;
    background-image: linear-gradient(white -100%, rgb(224, 159, 38) 200%);
    border-bottom: 2px solid rgb(243, 185, 59);
    height: 43px;
}

#searchNav{
    position: fixed;
    width: 100%;
    padding-left: 15px;
    padding-bottom: -10px;
    background-image: linear-gradient(white -100%, rgb(224, 159, 38) 200%);
    border-bottom: 2px solid rgb(243, 185, 59);
    height: 43px;
    min-width: 800px;
}

#logo{
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    width: 116.216px;
}

#searchForm{
    display: inline-block;
    width: 70%;
}

#searchBar{
    vertical-align: middle;
    margin-left: 10px;
    height: 30px;
    vertical-align: middle;
    width: 60%;
    border-radius: 10px;
    border: 1px solid grey;
    border-right: none;
    padding-left: 8px;
}
  
#searchBar:focus{
    outline: none;
}

#searchButton{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: middle;
    margin-left: -15px;
    height: 30px;
    width: 50px;
    border-left: none;
    border: 1px solid grey;
    background-color: rgb(255, 171, 14);
}

#menuButton{
    vertical-align: middle;
    font-size:30px;
    cursor:pointer
}

#accountBox{
    margin-left: -20%;
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    min-width: 15%;
}

#accountIcon{
    height: 25px;
    width: 25px;
    margin-right: 2px;
    vertical-align: bottom;
}

#accountLink{
    vertical-align: bottom;
    margin-left: px;
    text-decoration: none;
    color: black;
}

#cartBox{
    width: 15%;
    margin-left: -3%;
    display: inline-block;
    vertical-align: middle;
    min-width: 15%;
}

#cartIcon{
    height: 25px;
    width: 25px;
    margin-right: 2px;
    vertical-align: bottom;
}

#cartLink{
    vertical-align: bottom;
    margin-left: 5px;
    text-decoration: none;
    color: black;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(white -100%, rgb(224, 159, 38) 200%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover{
    color: orange;
}
  
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#homeFooter{    
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(white -200%, rgb(224, 159, 38) 200%);
}

#homeFooter p{
    text-align: center;
    font-size: 13px;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
    
body { 
    margin: 0; 
} 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slidy infinite; 
}
    
#slider{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 150px;
    border: 2px solid orange;
    margin-top: 20px;
}

#welcome{
    color: rgb(255, 94, 0);
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
}

#welcome2{
    color: rgb(255, 153, 0);
    text-align: center;
    font-size: 20px;
    margin-top: -29px;
}

#container{
    margin-top: 3%;
    text-align: center;
}

#savings{
    display: inline-block;
    width: 20%;
    height: 35%;
    max-height: 275px;
    max-width: 250px;
    text-align: center;
    background-image: linear-gradient(white -100%, #ffce6c 200%);
    border-radius: 10px;
    border: 2px solid black;
    margin-right: 10px;
}

#shopOnline{
    max-height: 275px;
    max-width: 250px;
    display: inline-block;
    border: 2px solid black;
    width: 20%;
    height: 35%;
    text-align: center;
    background-image: linear-gradient(white -100%, #ffce6c 200%);
    border-radius: 10px;
    margin-right: 10px;
}

.tag{
    margin-top: 10px;
    border-radius: 50%;
    height: 80px;
    weight: 80px;
    text-decoration: none;
    border: 2px solid black;
    background-position: center;
    max-width: 80px;
    max-height: 80px;
}

.tag2{
    margin-top: 1px;
    font-weight: bold;
}

.homeLink{
    color: black;
}

#sideBar{
    display: inline-block;
    text-align: center;
    margin-top: 0px;
    min-height: 100%;
    width: 19%;
    background-image: linear-gradient(white -100%, rgb(255, 166, 0) 200%);
    border-right: 2px solid black;
}

#filter{
    padding-top: 45px;
    text-decoration: underline;
    margin-bottom: -5px;
}

#filterList{
    list-style-type: none;
}

#filterList li{
    text-align: left;
    margin-left: -30px;
    margin-bottom: 5px;
    font-size: 14px;
}

#resultsCount{
    margin-top: 39px;
    margin-bottom: 5px;
    font-size: 23px;
}

#results {
    display: inline-block;
    float: right;
    width: 75%;
    min-height: 82%;
    margin-right: 23px;
    margin-top: 15px;
}

.item{
    background-color: white;
    height: 250px;
    width: 184px;
    border: 5px solid rgb(231, 230, 230);
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.itemPic{
    margin-top: 12px;
    height: 100px;
    width: 100px;
}

.itemPrice{
    font-weight: bold;
}

.itemDescription{
    margin-top: -9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.addToCart{
    text-decoration: none;;
    margin-top: -4px;
    border: 1px solid grey;
    font-weight: bold;
    width: 130px;
    height: 30px;
    background: #ffab00;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 24px; 
    padding: 5px 12px 5px 12px;
}

.addToCart:hover{
    background: #ff7b00;
    cursor:pointer;
}

#searchFooter{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(white -200%, rgb(224, 159, 38) 200%);
}

#searchFooter p{
    text-align: center;
    font-size: 13px;
}

.filterCategory{
    margin-left: 10px;
    margin-bottom: -12px;
    font-weight: bold;
    text-align: left;
}

#refresh{
    margin-top: 30px;
    margin-left: 50px;
    height: 35px;
    width: 35px;
}

#productView{
    background-color: whitesmoke;
    display: inline-block;
    float: right;
    width: 75%;
    min-height: 60%;
    margin-right: 33px;
    margin-top: 120px;
    border: 2px solid black;
    vertical-align: middle;
}

#productViewLeft{
    vertical-align: middle;
    display: inline-block;
    width: 48%;
    height: 60%;
    text-align: center;
}

#productViewRight{
    display: inline-block;
    width: 50%;
    height: 60%;
    float: right;
    text-align: center;
    margin-right: 13px;
    background-color: whitesmoke;
}

#productViewPic{
    border: 1px solid gray;
    width: 295px;
    height: 250px;
    margin-top: 15px;
}

#productName{
    text-align: left;
    font-size: 40px;
    margin-left: 15px;
    margin-top: 10px;
}

#itemCode{
    text-align: left;
    margin-left: 15px;
    margin-top: -36px;
}

#rating{
    text-align: left;
    margin-left: 15px;
    margin-top: -10px;
}

#starsRating{
    vertical-align: top;
    height: 20px;
    width: 100px;
}

#purchaseOptions{
    margin-top: -12px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 5%;
    margin-left: 5%;
}

.purchaseOption{
    padding-top: 10px;
    text-align: left;
    height: 32px;
    border-top: 1px solid grey;
}

#topPurchaseOption:hover{
    cursor: pointer;
    background-color: rgb(212, 211, 211);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#bottomPurchaseOption:hover{
    cursor: pointer;
    background-color: rgb(212, 211, 211);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.purchaseOption:hover{
    cursor: pointer;
    background-color: rgb(212, 211, 211);
}

#topPurchaseOption{
    border-top: none;
}

.purchaseOption input{
    margin-left: 10px;
    margin-right: 8px;
}

#purchasePrice1, #purchasePrice2, #purchasePrice3{
    float: right;
    font-weight: bold;
    margin-right: 10px;
}

#addToCartSubmit{ 
    text-decoration: none;;
    margin-top: 24px;
    border: 1px solid grey;
    font-weight: bold;
    width: 250px;
    height: 40px;
    background: #ffab00;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 24px; 
}

#addToCartSubmit:hover{
    background: #ff7b00;
    cursor:pointer;
}

#quantity{
    text-align: center;
    margin-top: 16px;
    width: 10%;
}

#smallerPics{
    margin-left: 11px;
}

.smallProductViewPic{
    margin-top: 30px;
    margin-right: 10px;
    border: 1px solid gray;
    width: 70px;
    height: 70px;
    display: inline-block;
}
  
#back{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 65px;
    margin-left: 3%;
}

#welcomeBox{
    background-color: #ff7b00;
    width: 30%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#itemCount{
    position: absolute;
    font-size: 13px;
    margin-left: 5px;
    margin-top: 0px;
    display: inline-block;
    color: black;
    font-weight: bold;
}

#accountContainer{
    background-color: whitesmoke;
    border: 2px solid black;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    border-radius: 10px;
}

#accountPageIcon{
    width: 125px;
    height: 125px;
    margin-bottom: -5px;
}

#signoutButton{
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    margin-bottom: 5px;
    margin-top: -10px;
}

#signoutButton:hover{
    cursor: pointer;
    background-color: rgb(189, 186, 186);
}

#accountUsername{
    margin-bottom: -5px;
}

#container_signin{
    background-color: whitesmoke;
    border: 2px solid black;
    width: 25%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2.5%;
    border-radius: 10px;
}

#signinImg{
    margin-top: 20px;
    width: 140px;
    height: 50px;
}

#signinSubtitle{
    margin-top: 4px;
    color: rgb(58, 58, 58);
}

.signinField{
    width: 60%;
    height: 30px;
    margin-bottom: 20px;
}

#signinButton{
    text-decoration: none;;
    margin-top: 12px;
    border: 1px solid grey;
    font-weight: bold;
    width: 130px;
    height: 30px;
    background: #ffab00;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 24px; 
    padding: 5px 12px 5px 12px;
    margin-bottom: 30px;
}

#signinButton:hover{
    background: #ff7b00;
    cursor:pointer;
}
